body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    padding: 4em;
    margin: 4em;
}

#loginTitle, #signupTitle {
    font-size: 2em;
    font-weight: bold;
    margin: 1em;
}

.signin-button {
    width: 210px;
    height: 40px;
}