@keyframes fadein {
    from { opacity: 0; transform: translateY(10px); }
    to   { opacity: 1; transform: translateY(0); }
  }

  .reveal {
    animation: fadein 0.7s;
}

.reveal-delay {
  animation: fadein 0.7s;
}
