{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'PostWize/style.css' %}">   
</head>
<body>
    <img src="{% static 'PostWize/logo.png' %}" height="80px"></img>
    <div id="signupTitle">Sign Up</div>
    <div class="row justify-content-center">
        <div class="col-3">
            <input type="text" class="form-control" placeholder="First Name"></input>
        </div>
    </div><br>
    <div class="row justify-content-center">
        <div class="col-3">
            <input type="text" class="form-control" placeholder="Last Name"></input>
        </div>
    </div><br>
    <div class="row justify-content-center">
        <div class="col-3">
            <input type="email" class="form-control" placeholder="Email"></input>
        </div>
    </div><br>
    <div class="row justify-content-center">
        <div class="col-3">
            <input type="password" class="form-control" placeholder="Password"></input>
        </div>
    </div><br>
    <div class="row justify-content-center">
        <div class="col-3">
            <input type="password" class="form-control" placeholder="Confirm Password"></input>
        </div>
    </div><br>
    <button class="btn btn-primary" type="submit">Sign Up</button><br><br>
    <p>Already have an account?</p>
    <p><a href="{% url 'login-page' %}">Login</a></p>
</body>
</html>